<div class="todo-container">
    <h2>My Todo List</h2>
    <%= form_with(url: "/todos/", method: "POST", class: "input-container") do %>
      <%= text_field_tag "todo_text", nil, placeholder: "Enter a Todo" %>
      <%= text_field_tag "due_date", nil, type: "date" %>
      <input class="btn-add" type='submit' value="Add" />
    <% end %>
    <%= render partial: "todo-section",
               locals: { section_title: "Overdue", todos: Todo.overdue, show_due_date: true, show_incompleted_todos: false } 
               %>
    <%= render partial: "todo-section",
               locals: { section_title: "Due Today", todos: Todo.due_today, show_due_date: false, show_incompleted_todos: true } %>
    <%= render partial: "todo-section",
               locals: { section_title: "Due Later", todos: Todo.due_later, show_due_date: true, show_incompleted_todos: true } %>

</div>